<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Log List',active='article'">
<head>
    <meta charset="UTF-8">
    <title>Spring Security SSO Client1</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <h1>Spring Security Client1</h1>
        <a class="btn btn-default" href="/securedPage">Login</a>
    </div>
</div>
</body>
</html>